# redirects for site move to jekyll-based 2014-05-09

# pages
Redirect /people.html /people/
Redirect /pro-students.html /prospective-students/
Redirect /research/research.html /research/
Redirect /research/data.html /research/data-code/
Redirect /publications/publications.html /research/publications/

# directory redirects
Redirect /publications/pubs/ /resources/pubs/
Redirect /research/data/ /resources/data/
Redirect /pricklysoft.org/ /research/data-code/
