  <header id="masthead" class="site-header" role="banner">
       <a  class="home-link" href="{{ site.baseurl }}/" title="Schwilk Lab" rel="home">
         <h2 class="site-title">{{ site.name }}</h2>
	     <h2 class="site-description">Plant ecology and fire ecology</h2>
	  </a>

			<div id="navbar" class="navbar">
				<nav id="site-navigation" class="navigation main-navigation" role="navigation">
					<!-- <h3 class="menu-toggle">Menu</h3> -->
					<a class="screen-reader-text skip-link" href="#content" title="Skip to content">Skip to content</a>
				<div class="menu-pages-container"><ul id="menu-pages" class="nav-menu">
                    <li><a href="{{site.baseurl}}/people/">People</a></li>
                    <li><a href="{{site.baseurl}}/research/projects/">Projects</a></li>
                    <li><a href="{{site.baseurl}}/research/publications/">Publications</a>
                      <ul class = "sub-menu" onclick="void(0)">
                        <li><a href="{{site.baseurl}}/research/publications/by-year/">By year</a></li>
                        <li><a href="{{site.baseurl}}/research/publications/by-tag/">By topic</a></li>
                      </ul>
                    </li>
                    <li><a href="{{site.baseurl}}/research/data-code/">Data / Code</a></li>
                    <li><a href="{{site.baseurl}}/teaching/courses/">Teaching</a></li>
                    <li><a href="{{site.baseurl}}/prospective-students/">Join us</a></li>
                    <li><a href="{{site.baseurl}}/blog/">Posts</a></li>
                </ul>
              </div>  <!-- #menu-pages-container -->

			</div><!-- #navbar -->
		</header><!-- #masthead -->
